body {background-color:#E10100;}
h2 {font-family: Arial;text-align: center;}
p {font-family: Times; color: #096CFF; font-size: 20px;}
li {font-family: Times; color: #096CFF;font-size: 20px;}
h1 {font-family: Arial;font-size: 30px; }
ul {font-family: Times;color:#096CFF;font-size: 20px;}
hr {border: 2px solid;color: #000000;}
.name{text-align: center;}
