body {background-color:#F7D18E;}
h2 {font-family: Courier;}
p {font-family: Times; color: #44C9FF;}
li {font-family: Times; color: #44C9FF;}
h1 {font-family: Century; 30px;}
ul {font-family: Times;color:#44C9FF ;}
