body {background-color:red;}
h2 {font-family: Courier;}
p {font-family: Times; color: black;}
li {font-family: Times; color: black;}
h1 {font-family: Century;
  margin:auto;
  margin-top: 50px;
  margin-right:20px;
  margin-left: 10px;
  margin-bottom: 5px;
}
ul {font-family: Times;color: black;}
